#b1{
    display:none;
    margin:20px;
}
input{
    margin:10px;
}
#a1{
    margin:20px;
}
#p{
    border:1px solid red;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 10px;
    width: 50%;
}
#Answer{
    border:1px solid green;
    padding: 10px;
    background-color: greenyellow;
    border-radius: 10px;
    width: 50%;
}